
.slide1 {
    background-color:#A6967B;
  }

.slide2 {
    background-color:#777D88;
}

.title{
    font-family: marcia, serif;
    font-weight: 700;
    font-style: normal;
    color: #F7F9F3;
    font-size: 3em; 
    text-align: center;
    margin-top: 120px;
}

.sub_title{
    font-family: museo, serif;
    font-weight: 200;
    font-style: normal;
    font-size:1em;
    text-align: center;
    color: #F7F9F3;

}


.nav_bar{
    display: flex;
    float:right;
    margin: 20px;
  
}

.mail_icon{
    height:20px;
}



/* Marcia Italic

font-family: marcia, serif;
font-weight: 400;
font-style: italic;

Marcia Regular

font-family: marcia, serif;
font-weight: 400;
font-style: normal;

Marcia Bold

font-family: marcia, serif;
font-weight: 700;
font-style: normal;

Marcia Bold Italic

font-family: marcia, serif;
font-weight: 700;
font-style: italic; 

-----------------------------
Museo 300

font-family: museo, serif;
font-weight: 300;
font-style: normal;

Museo 700

font-family: museo, serif;
font-weight: 700;
font-style: normal;

Museo 300 Italic

font-family: museo, serif;
font-weight: 300;
font-style: italic;

Museo 700 Italic

font-family: museo, serif;
font-weight: 700;
font-style: italic;

 



*/

html,body {
position: relative;
height: 100%;
}

 body {
/* background: #eee; */
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 14px;
color: #000;
 margin: 0;
padding: 0;
}

.swiper-container {
    display: flex;
    align-items: center;
    justify-content :center;
 
width: 100%;
height: 100%;
}
