audio{
    z-index: 9999;
}


html,body {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

body {
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;

}

button {
    position:relative;
    background-color: black;
    border-width: 0px;
    z-index:8888;
    font-family: 'Roboto', sans-serif;

}


#footer_container{
    position: absolute;
    z-index: 33;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: scrolling;
  
}

#header_container{
    position: absolute;
    z-index: 10;
    width: 100%;

}

#recordings-cont {
    display: flex;
    flex-direction: column;
    z-index: 999;
    text-align: center;
    margin: auto;
}

.form-container{
    display: flex;
    flex-direction: column;
    font-family: museo, serif;
    font-weight: 300;
    font-style: normal;
    color: #4C4D54;
    text-align: center;

}
    

.results_wrapper{
    height: 55vh;
    overflow-y: auto;

}


.swiper-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content :center;
    width: 100%;
    height: 100%;
 
}


.results_container{
    display:flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 80vw;   
    padding: 5px; 
}

.results{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: #4C4D54;
    font-size: 12px;
    font-family: museo, serif;
    font-weight: 300;
    font-style: normal;
}

.date{
    padding: 10px;
    border-radius: 20px;
    color: #4C4D54;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}

.icon{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 25vh;
     
}

.buttons_container{
    display: flex; 
    align-items: center;
    justify-content:space-evenly;
    /* margin-top: 5vmax; */
      
}

.btn_shadow{
    box-shadow: 
    -8px -8px 12px rgba(247, 247, 247, 0.336), 
    8px 8px 12px   rgba(0, 0, 0, 0.26);
}


.ins_buttons{ 
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 70px; 
    height: 100px;
    border-radius: 25px;
    border-width: 0px;
    background-color: #C7AFA4;
    margin-top: 5vmin;
}
   

.mel_buttons{ 
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 70px; 
    height: 100px;
    border-radius: 25px;
    border-width: 0px;
    background-color: #777D88;  
    margin-top: 5vmin;  
   
}

.joy_buttons{ 
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 70px; 
    height: 100px;
    border-radius: 25px;
    border-width: 0px;
    background-color: #C3A2A5;
    border-width: 0px;
    margin-top: 5vmin;

}

.som_buttons{ 
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 70px; 
    height: 100px;
    border-radius: 25px;
    border-width: 0px;
    background-color: #A6967B;
    margin-top: 10vmin;
  
}


.ins_button_bar {
    display: flex; 
    align-items: center;
    justify-content:space-evenly;
    margin-top:20px;
    width: 250px;
    height: 40px;
    margin: auto;
    border-radius: 30px;
    margin-top: 20px;
    border-width: 0px;
   
   
}

.mel_button_bar{
    display: flex; 
    align-items: center;
    justify-content:space-evenly;
    margin-top:20px;
    width: 250px;
    height: 40px;
    margin: auto;
    border-radius: 30px;
    margin-top: 20px;
    border-width: 0px;
    
    
}

.joy_button_bar{
    display: flex; 
    align-items: center;
    justify-content:space-evenly;
    margin-top:20px;
    width: 250px;
    height: 40px;
    margin: auto;
    border-radius: 30px;
    margin-top: 20px;
    border-width: 0px;
 
}


.som_button_bar{
    display: flex; 
    align-items: center;
    justify-content:space-evenly;
    margin-top:20px;
    width: 250px;
    height: 40px;
    margin: auto;
    border-radius: 30px;
    margin-top: 20px;
    border-width: 0px;
    
}

.title{
    display:flex;
    flex-direction: column;
    font-family: marcia, serif;
    font-weight: 700;
    font-style: normal;
    color: #F7F9F3;
    font-size: 40px; 
    text-align: center;
    margin-top:10vh;
   
}

.sub_title{
    font-family: museo, serif;
    font-weight: 200;
    font-style: normal;
    font-size:15;
    text-align: center;
    color: #F7F9F3;
    margin-top:15vmax;
   margin: auto;

}

.icon_title{
    font-family: termina, sans-serif;
    font-weight: 300;
    font-style: normal;;
    font-size:20px;
    text-align: center;
    color: #F7F9F3;
    margin-top: 20px;
    margin-bottom: 20px;
}



.nav_bar{
    display: flex;
    justify-content: space-around;
    align-self: center;
    /* margin: auto; */
    overflow: hidden;
    position: fixed;
    height:10vh;
    bottom: 0;
    width: 100%;
    background-color: #4C4D54;
    /* margin: 5vmax; */

}

.mail_icon{
    height:20px;
    float:right;
   margin:2vh;
   
}

.menu_icon{
    display: flex;
    justify-content: center;
    height:20px;
    float:right;
    align-self: center;
    margin-top: 3vh;
}

.list{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #4C4D54;
    font-family: 'Roboto', sans-serif;
}


.slide1 {
    background-color:#C7AFA4;
  }

.slide2 {
    background-color:#777D88;
}

.slide3 {
    background-color:#C3A2A5;
}

.slide4 {
    background-color:#A6967B;
}

.cat_box{
    display:flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #4C4D54;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 
    8px 8px 16px rgb(138, 125, 102), 
    -8px -8px 16px    rgb(215, 194, 158);

}

.search_box{
    position:absolute;
    bottom: 20px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #4C4D54;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 
    8px 8px 16px rgba(79, 79, 79, 0.434), 
    -8px -8px 16px    rgba(255, 255, 255, 0.564);
}

.text_box{
    display:flex;
    text-align: left;
    font-size: 20px;
    width: auto;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0);
    border-radius:20px;
    border-style: none;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    font-family: museo, serif;
    font-weight: 300;
    font-style: normal;
    color:rgb(38, 38, 38);
    border-radius: 20px;
  
}



.sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    top:30;
    left: 0;
    background-color: #4C4D54;
    overflow-x: visible;
    transition:height 0.5s;
    padding-top:0;
    text-align:center;
    margin-top: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: termina, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    color: white;
    /* box-shadow: inset
   -0px -8px 9px rgba(0, 0, 0, 0.42); */

    }

    /* .close{
        width: 5px;
        height: 2px;
        border-radius: 100;
        background-color: #4C4D54;
        box-shadow: 
        8px 8px 16px rgb(53, 53, 58), 
        -8px -8px 16px    rgb(92, 93, 101);
        margin: auto;
    } */
    
.btn-record {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 250px ; 
    height:150px;
    margin: auto;
    margin-top: 10vh;

}

/* The switch - the box around the slider */

.off{
    text-align: center;
    margin:auto;
    margin-top: 18vh;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    z-index: -1;
    color: rgba(255, 255, 255, 0.658);
    
}

.on{
    text-align: center;
    margin:auto;
    margin-top: 6vh;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    z-index: -1;
    color: rgba(255, 255, 255, 0.658);
    
}

.switch {
    margin-bottom: 14vh;
    margin-top: 13vh;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity:0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: relative;
    cursor: pointer;
    width: 180px ; 
    height:280px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(76, 77, 84, 0);
    -webkit-transition: .6s;
    transition: .6s;
    box-shadow: 
    inset 5px 5px 10px rgba(37, 37, 37, 0.582),
    inset -5px -5px 10px rgba(247, 245, 245, 0.425);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 158px;
    width: 158px;
    left: 12px;
    top: 12px;
    background-color: #f1f1f1;
    box-shadow: 
    5px 5px 10px rgba(37, 37, 37, 0.582);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider::before {
    background-color: #CB5A5C;
  }

  input:checked + .slider {
    background-color: rgb(128, 51, 52);;
  }
  
  /* input:focus + .slider {
    box-shadow: 
    inset -5px -5px 10px rgba(247, 245, 245, 0.589),
    inset 5px 5px 10px rgba(37, 37, 37, 0.582);
    
  }
   */
  input:checked + .slider:before {
    -webkit-transform: translateY(27%);
    -ms-transform: translateY(27%);
    transform: translateY(60%);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 100px;
  }
  
  .slider.round:before {
    border-radius: 100px;
  }
    


/* Termina Thin
font-family: termina, sans-serif;
font-weight: 100;
font-style: normal;
Termina Extra Light
font-family: termina, sans-serif;
font-weight: 200;
font-style: normal;
Termina Light
font-family: termina, sans-serif;
font-weight: 300;
font-style: normal;
Termina Regular
font-family: termina, sans-serif;
font-weight: 400;
font-style: normal;
 
 
Marcia Italic
font-family: marcia, serif;
font-weight: 400;
font-style: italic;
Marcia Regular
font-family: marcia, serif;
font-weight: 400;
font-style: normal;
Marcia Bold
font-family: marcia, serif;
font-weight: 700;
font-style: normal;
Marcia Bold Italic
font-family: marcia, serif;
font-weight: 700;
font-style: italic; 
-----------------------------
Museo 300
font-family: museo, serif;
font-weight: 300;
font-style: normal;
Museo 700
font-family: museo, serif;
font-weight: 700;
font-style: normal;
Museo 300 Italic
font-family: museo, serif;
font-weight: 300;
font-style: italic;
Museo 700 Italic
font-family: museo, serif;
font-weight: 700;
font-style: italic;
_______________________________
 
font-family: 'Roboto', sans-serif;
*/
